.buttonStyle {
  display: flex; /* Enable flexbox for centering */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  width: 150px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  padding: 0; /* No additional padding */
  background-color: #b825ba; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

.link-style {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the current color of the button */
  display: block; /* Make the link a block element to fill the button */
  width: 100%; /* Ensure the link takes the full width of the button */
  height: 100%; /* Ensure the link takes the full height of the button */
}
