.movies-grid {
  display: grid; /* Define que los elementos hijos se alinearán en una cuadrícula */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Crea columnas flexibles que se adaptan al tamaño de la pantalla */
  gap: 16px; /* Espaciado entre las tarjetas */
  padding: 20px;
  justify-items: center; /* Centra los elementos horizontalmente en cada celda */
  align-items: center; /* Centra los elementos verticalmente en cada celda */
}

.movie-card {
  background-color: #fff; /* Fondo blanco para las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que las imágenes no se desborden */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center;
  display: flex;
  flex-direction: column; /* Alinea la imagen y el texto verticalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.movie-card img {
  width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
  height: auto; /* Mantiene las proporciones de la imagen */
  object-fit: contain;
}

.movie-card h3 {
  margin: 12px 0;
  font-size: 1.2rem;
  color: #333; /* Make sure the text color is visible */
  font-weight: bold;
}
