.signup-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #7c4dff; /* Color violeta moderno */
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  background-color: #ffffff; /* Fondo blanco para un look más limpio */
}

h2 {
  text-align: center;
  color: #333333;
  font-size: 24px; /* Tamaño de fuente más grande */
  font-weight: 600; /* Texto más grueso */
  margin-bottom: 20px; /* Mayor separación del contenido */
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Añadido un gap entre los elementos */
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  color: #555555; /* Color gris oscuro más suave */
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #e0e0e0; /* Borde gris claro */
  border-radius: 8px; /* Bordes más redondeados */
  transition: border-color 0.3s ease; /* Transición suave para cambios de borde */
}

input:focus {
  border-color: #7c4dff; /* Borde violeta al enfocar */
  outline: none;
}

.SingUp-buttons {
  width: 100%;
  padding: 12px;
  background-color: #7c4dff; /* Color violeta */
  color: white;
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s; /* Transición suave y animación */
  margin-top: 10px;
}

/* Efecto hover y activo para los botones */
.SingUp-buttons:hover {
  background-color: #6a3ae5; /* Color más oscuro al pasar el cursor */
  transform: scale(1.02); /* Efecto de agrandamiento suave */
}

.SingUp-buttons:active {
  transform: scale(0.98); /* Efecto de reducción al hacer click */
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
