.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  float: left;
  padding-left: 0.5rem;
}

.App-buttons {
  display: flex; /* Aligns buttons horizontally */
  gap: 1rem; /* Optional: Space between buttons */
  padding-right: 0.5rem;
  color: #ffffff;
}

.App-button {
  background-color: inherit;
  height: 8vmin;
  width: 15vmin;
  text-align: center;
  justify-content: center;
  font-size: 3vmin;
  float: right;
  border: none;
  color: inherit;
}

.App-button a {
  color: inherit;
  text-decoration: none;
}

.App-button:hover {
  color: #b825ba;
}

.App-forms {
  display: flex;
  float: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #262626;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: calc(10px + 2vmin);
  background-color: #222222;
  min-height: 100vh;

  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #222; /* Dark background */
  color: #fff; /* White text */
  text-align: center; /* Centered text */
  padding: 20px 0; /* Vertical padding */
  position: relative; /* Allows positioning of child elements */
  bottom: 0; /* Stick to bottom of the page */
  width: 100%; /* Full width */
}

/* Links in Footer */
.App-footer a {
  color: #7e3c83; /* Link color */
  text-decoration: none; /* No underline */
  margin: 0 15px; /* Space between links */
}

.App-footer a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Sacar? */
@media (max-width: 600px) {
  .App-footer {
    font-size: 14px; /* Smaller font on small screens */
  }

  .App-footer a {
    margin: 0 10px; /* Reduced space between links */
  }
}
